.footer {
  margin-top: 50px;
  height: 210px;
  width: 100%;
  background-color: $color-dark;
  color: $color-white;
  text-align: center;
  @include flex-center;
  flex-direction: column;

  &__text {
    padding-top: 2.5rem;
    font-size: 24px;
    font-weight: 500;
  }
  
  &__logo {
    margin-top: 3.5rem;
  }
}