header {
  display: flex;
  width: $container-width;
  height: 100px;
  margin: 40px auto;

  .logo {
    width: 50%;
    height: 100px;
    padding-top: 10px;
    box-sizing: border-box;
    img {
      width: 210px;
      height: 68px;
    }
  }

  .menu {
    width: 50%;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 57px;
    a {
      color: $color-primary;
      margin: 0;
      font-size: 24px;
      text-decoration: none;

      &.active {
        text-decoration: underline;
      }
    }
  }
}
