header {
  display: flex;
  width: $container-width;
  height: 100px;
  margin: 40px auto;
  padding: 0 10px;

  .logo {
    width: 300px;
    height: 100px;
    padding-top: 10px;
    box-sizing: border-box;
  }

  .menu {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;

    a {
      color: $color-primary;
      margin: 0 26px;
      font-size: 24px;
      text-decoration: none;

      &:hover, &.active {
        text-decoration: underline;
      }
    }
  }
}
