.banner {
  @include container;
  border-radius: 25px;
  background: $color-dark;
  min-height: 20vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @include flex-center;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.banner-text {
  color: $color-white;
  font-size: 26px;
  z-index: 3;
  position: relative;
  font-weight: 500;
}
