.banner {
  @include container;
  border-radius: 25px;
  background: $color-dark;
  min-height: 200px;
  overflow: hidden;
  background-position: center;
  position: relative;
  @include flex-center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}

.banner-text {
  color: $color-white;
  font-size: 26px;
  text-align: center;
  z-index: 2;
  position: relative;
  font-weight: 300;
}
