.appartment {
  width: 85%;
  margin: 0 auto;
  color: $color-secondary;
  &__content {
    @include flex-space-between;
    flex-direction: row;
  }
}

.details {
  @include flex-direction-column;
  &__titleh1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500;
  }
  &__titleh2 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
  }
}

.owner {
  @include flex-space-between;
  flex-direction: column;
  align-items: end;
  &__content {
    display: flex;
    align-items: center;
    margin-top: 30px;

    &__name {
      text-align: right;
      width: 80px;
      margin-right: 10px;
    }

    &__picture {
      border-radius: 100px;
      height: 64px;
    }
  }
  &__stars {
    margin-bottom: 30px;
    font-size: 24px;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;
  }
}

