.gallery_container {
  @include container;
  @include grid-columns($num: 3, $fr: 1fr);
  padding: 50px 50px;
  box-sizing: border-box;
  min-height: 200px;
  margin-top: 50px;
  border-radius: 20px;
  background-color: $color-light;
}

.gallery_item {
  width: 90%;
  height: 340px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 30px auto;
  position: relative;

  span {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 18px;
    color: $color-white;
    border-radius: 0 0 10px 10px;
  }
}
