.slider {
  position: relative;
}

.previous_slider {
  color: $color-white;
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 9;
  font-size: 50px;
  cursor: pointer;
}

.next_slider {
  color: $color-white;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 9;
  font-size: 50px;
  cursor: pointer;
}
