.tags-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.container-tags-stars {
  @include flex-direction-row;
  justify-content: space-between;
}

.container-tags-stars__icon--colorred {
  color: rgb(255, 96, 96);
}

.container-tags-stars__icon--color-grey {
  color: #E3E3E3;
}

.tags {
  width: auto;
  height: 25px;
  padding: 0 15px;
  background-color: $color-secondary;
  color: $color-white;
  border-radius: 10px;
  text-align: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}
