.toggle {
  width: min(1024px, 65%);
  margin: 20px auto;
  border-radius: 5px;
  box-sizing: border-box;

  h1 {
    border-radius: 10px;
    @include flex-space-between;
    font-size: 24px;
    color: $color-white;
    margin: 0;
    padding: 10px;
    background-color: $color-secondary;
    cursor: pointer;
  }
}

.toggle-text {
  font-size: 20px;
  font-weight: 400;
  color: $color-secondary;
  background-color: #f6f6f6;
  padding: 0 10px;
  font-weight: 300;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  &.open {
    visibility: visible;
    padding: 20px;
    opacity: 1;
    max-height: 1500px;
    height: 300px;
  }
}

.toggle span svg {
  transition: transform 0.3s ease;
}

.toggles_container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 5%;
}