.content-toggleapt,
.content-toggleabout {
  width: 100%;
}
.content-toggleapt {
  display: flex;
  gap: 5%;
}

.content-toggleabout {
  margin-top: 40px;
}

.toggle {
  h1 {
    @include flex-space-between;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: $color-white;
    padding: 10px 20px 10px 10px;
    background-color: $color-secondary;
    cursor: pointer;
  }
  .toggle-text {
    font-size: 18px;
    font-weight: 400;
    background-color: #f6f6f6;
    color: $color-secondary;
    display: none;
    min-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    &.open {
      display: block;
      padding: 20px;
      opacity: 1;
      max-height: 1000px;
    }
  }
  span svg {
    transition: transform 0.3s ease;
  }
}

.toggle-apt {
  margin: 0 auto;
  width: 50%;
  h1 {
    border-radius: 10px;
  }
}

.toggle-about {
  margin: 30px auto;
  width: 65%;
  h1 {
    border-radius: 5px;
  }
}

.toggle-text-apt,
.toggle-text-about {
  margin: 0 auto;
}

