.error {
  width: min(1240px, 90%);
  margin: 150px auto;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  color: $color-secondary;
  text-align: center;

  h1 {
    font-weight: 700;
    font-size: 200px;
    margin: 120px 0;
  }

  p {
    font-size: 36px;
    margin: 0;
    margin-bottom: 140px;
  }

  .back_to_home a {
    font-size: 24px;
    color: $color-secondary;
    font-weight: 600;
  }
}
