@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-direction-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin flex-direction-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin container {
  width: $container-width;
  margin: 0 auto;
}

@mixin grid-columns($num, $fr) {
  display: grid;
  grid-template-columns: repeat($num, 1fr);
}
