$font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-alt: 'Monserrat', sans-serif;
$color-primary: #eb7676;
$color-secondary: #ff6060;
$color-light: #f6f6f6;
$color-dark: #000;
$color-white: #fff;
$container-width: min(1240px, 80%);