@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  display: flex;
  width: min(1240px, 80%);
  height: 100px;
  margin: 40px auto;
  padding: 0 10px;
}
header .logo {
  width: 300px;
  height: 100px;
  padding-top: 10px;
  box-sizing: border-box;
}
header .menu {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10px;
}
header .menu a {
  color: #eb7676;
  margin: 0 26px;
  font-size: 24px;
  text-decoration: none;
}
header .menu a:hover, header .menu a.active {
  text-decoration: underline;
}

.banner {
  width: min(1240px, 80%);
  margin: 0 auto;
  border-radius: 25px;
  background: #000;
  min-height: 200px;
  overflow: hidden;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.banner-text {
  color: #fff;
  font-size: 26px;
  text-align: center;
  z-index: 2;
  position: relative;
  font-weight: 300;
}

.gallery_container {
  width: min(1240px, 80%);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 50px;
  box-sizing: border-box;
  min-height: 200px;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #f6f6f6;
}

.gallery_item {
  width: 90%;
  height: 340px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 30px auto;
  position: relative;
}
.gallery_item span {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border-radius: 0 0 10px 10px;
}

.content-toggleapt {
  display: flex;
  width: 100%;
  gap: 5%;
}

.content-toggleabout {
  margin-top: 40px;
}

.toggle h1 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 24px;
  color: #fff;
  padding: 10px;
  background-color: #ff6060;
  cursor: pointer;
}
.toggle .toggle-text {
  font-size: 18px;
  font-weight: 400;
  background-color: #f6f6f6;
  color: #ff6060;
  display: none;
  min-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
.toggle .toggle-text.open {
  display: block;
  padding: 20px;
  opacity: 1;
  max-height: 1000px;
}

.toggle span svg {
  transition: transform 0.3s ease;
}

.toggle-apt {
  margin: 0 auto;
  width: 50%;
}
.toggle-apt h1 {
  border-radius: 10px;
}
.toggle-apt .toggle-text-apt {
  margin: 0 auto;
}

.toggle-about {
  width: 65%;
  margin: 30px auto;
}
.toggle-about h1 {
  border-radius: 5px;
}
.toggle-about .toggle-text-about {
  margin: 0 auto;
}

.error {
  width: min(1240px, 90%);
  margin: 150px auto;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
  text-align: center;
}
.error h1 {
  font-weight: 700;
  font-size: 200px;
  margin: 120px 0;
}
.error p {
  font-size: 36px;
  margin: 0;
  margin-bottom: 140px;
}
.error .back_to_home a {
  font-size: 24px;
  color: #ff6060;
  font-weight: 600;
}

.footer {
  margin-top: 50px;
  height: 210px;
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__logo {
  margin-top: 3.5rem;
}

.footer__text {
  padding-top: 2.5rem;
}

.tags-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.container-tags-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-tags-stars__icon--colorred {
  color: rgb(255, 96, 96);
}

.container-tags-stars__icon--color-grey {
  color: #f3f3f3;
}

.tags {
  height: 25px;
  background-color: #ff6060;
  color: #fff;
  border-radius: 15px;
  padding: 5px 15px;
  text-align: center;
  margin-right: 10px;
  font-weight: 500;
  line-height: 25px;
}

.appartment {
  width: 1240px;
  margin: 0 auto;
  color: #ff6060;
}
.appartment__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.details__titleh1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 500;
}
.details__titleh2 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

.owner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
}
.owner__content {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.owner__content__name {
  text-align: right;
  width: 80px;
  margin-right: 10px;
}
.owner__content__picture {
  border-radius: 100px;
  height: 64px;
}
.owner__stars {
  margin-bottom: 30px;
  font-size: 25px;
}

.slider {
  position: relative;
}

.previous_slider {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 9;
  font-size: 50px;
  cursor: pointer;
}

.next_slider {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 9;
  font-size: 50px;
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  .banner-text {
    font-size: 20px;
  }
  .gallery_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .content-toggleapt {
    width: 100%;
  }
  .appartment {
    width: 90%;
  }
  .next_slider {
    right: 50px;
  }
  .previous_slider {
    left: 50px;
  }
}
@media screen and (max-width: 769px) {
  .header, .banner {
    width: 90%;
  }
  .gallery_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 10px;
    margin: 10px auto;
    background-color: #fff;
  }
  .gallery_item {
    margin: 20px auto;
  }
  .appartment__content {
    display: flex;
    flex-direction: column;
  }
  .appartment .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .appartment .details__titleh1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .appartment .details__titleh2 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .appartment .owner {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
  .appartment .owner__content {
    display: flex;
    align-items: center;
  }
  .appartment .owner__content__name {
    text-align: right;
    width: 80px;
    margin-right: 10px;
  }
  .appartment .owner__content__picture {
    border-radius: 100px;
    height: 64px;
  }
  .appartment .tags-container {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
  }
  .appartment .content-toggleapt {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .appartment .content-toggleabout .toggle-about {
    width: 100%;
    display: flex;
    margin: 0;
  }
  .appartment header .menu a {
    margin: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .appartment header .logo {
    padding-top: 25px;
  }
  .appartment header .logo img {
    width: 145px;
  }
  .appartment .next_slider {
    right: 80px;
  }
  .appartment .previous_slider {
    left: 80px;
  }
  .footer {
    margin-top: 10px;
  }
}
.paraph {
  width: 500px;
  margin: 10px auto;
  border-top: 1px solid #eb7676;
  border-bottom: 1px solid #eb7676;
}
.paraph h1 {
  text-transform: uppercase;
}

.btn {
  height: 45px;
  margin: 10px 0;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */